# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
# media

# 备份文件 #
*.bak

# 如果使用pycharm #
.idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
*.iws /out/

# Python #
*.py[cod]
*$py.class

# 发行版 / 打包文件
.Python build/
develop-eggs/
dist/
build/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# 安装日志
pip-log.txt
pip-delete-this-directory.txt

# 测试单元 / 生成报告 #
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# pyenv
.python-version

# celery
celerybeat-schedule.*

# SageMath parsed files
*.sage.py

# 环境目录
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs 自动文档
/site

# mypy
.mypy_cache/

# Sublime编辑器 #
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# sftp 设置文件
sftp-config.json

# 包控制文件
Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
GitHub.sublime-settings

# vscode
.vscode